@model MyStatz.Models.MyProfile
@{
    ViewData["Title"] = "MyProfile";

}



@if (User?.Identity?.IsAuthenticated ?? false)
{
    <h1>Welcome, @User.Identity.Name</h1>
    @if (Model != null)
    {
        @*<p>@Model.SteamAccount.Name</p>*@
        <p>@Model.PlayerInfo.SteamAccount.Id</p>
    }
 

    <a class="btn btn-lg btn-danger" href="/signout?returnUrl=%2F">Sign out</a>


}
<h2>MyProfile</h2>


<table class="tb-leaderboard tb-hover">
    <thead thead-leaderboard>
        <tr>
            <th>Hero</th>
            <th>W/L</th>
            <th>Radiant/Dire</th>
            <th>K/D/A</th>
            <th>Duration</th>
            <th>GPM</th>
            <th>EMP</th>
            <th>IMP</th>
            <th>Item</th>
            <th>Recent Game</th>
        </tr>
    </thead>
    @{
        foreach (var items in Model.PlayerMatches)
        {
            foreach (var item in items.Players)
            {
                <tbody>
                    <tr>
                        @{string heroImageLink = "http://media.steampowered.com/apps/dota2/images/heroes/" + item.HeroImageId + ".png";}
                        <td>
                            <img class="hero-image" src="@heroImageLink" />
                        </td>
                        <td>@item.IsVictory</td>

                        <td>@item.IsRadiant</td>


                        <td>@item.NumKills/@item.NumDeaths/@item.NumAssists</td>

                        <td>NOT FOUND</td>

                        <td>@item.GoldPerMinute</td>

                        <td>@item.ExperiencePerMinute</td>

                        <td>@item.Imp</td>

                        @{ 
                                string[] itemImages = { 
                                item.Item0Id + ".png",
                                item.Item1Id + ".png",
                                item.Item2Id + ".png",
                                item.Item3Id + ".png",
                                item.Item4Id + ".png",
                                item.Item5Id + ".png"
                            };

                        }

                        <td>
                            <table class="tb-item-images">
                                <tbody>
                                    <tr>
                                        <td>
                                            <img class="item-image" src="http://media.steampowered.com/apps/dota2/images/items/@itemImages[0]" />
                                        </td>
                                        <td>
                                            <img class="item-image" src="http://media.steampowered.com/apps/dota2/images/items/@itemImages[1]" />
                                        </td>
                                        <td>
                                            <img class="item-image" src="http://media.steampowered.com/apps/dota2/images/items/@itemImages[2]" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="item-image" src="http://media.steampowered.com/apps/dota2/images/items/@itemImages[3]" />
                                        </td>
                                        <td>
                                            <img class="item-image" src="http://media.steampowered.com/apps/dota2/images/items/@itemImages[4]" />
                                        </td>
                                        <td>
                                            <img class="item-image" src="http://media.steampowered.com/apps/dota2/images/items/@itemImages[5]" />
                                        </td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </td>


                        <td>NOT FOUND</td>
                    </tr>

                </tbody>
            }



        }
    }



</table>